#root {
  width: 100%;
  height: 100%;
  background: #364150;
}

.goldenLayout {
  position: fixed;
  top: 46px;
  left: 0;
  bottom: 0;
  right: 0;
  flex: 1;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  /* margin-top: 8px; */
}

.lm_header {
  /* background: #262b3e; */
  /* z-index: 101; */
  /* height: 20px; */
}

.lm_content {
  background: white;
  overflow: auto;
}

.wrapComponent {
  color: white;
  height: 100%;
}

.wrapComponent > div {
  height: 100%;
}

.lm_goldenlayout {
  background: #364150;
}

/* HEADER */
.header {
  background: #2b3643;
  height: 46px;
  color: white;
}
/* END HEADER */

/* MENU */
.menu {
  width: 235px;
  height: 100%;
  /* z-index: 1; */
  color: white;
}

.menu .row {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .rowItem {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* END MENU */

.content {
  background: white;
  width: 100%;
  height: 100%;
}

.contentContainer {
  display: flex;
  height: 100%;
}
